*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    align-items: center;
    justify-content: center;
    color: rgb(205, 2, 107);
    background-color: pink;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
    }
.hidden{
    display: none;
}


    #choices{
        position: relative;
        width: 260px;
        height: 70px;
        margin-top: 20px;
        gap: 60px;
    }
    
    .choice{
    cursor: pointer;
    border: none;
    transition: 0.3s;
    
    background-color: pink;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
}

#yes{
    background-color: aliceblue;
    color: rgb(240, 0, 172);
    cursor: pointer;
    margin: 10%;
    position: relative;
    transform: translateX(-50%);

}

#no{
    background-color: aliceblue;
    color: rgb(240, 0, 172);
    
    transition: 0.3s;
    cursor: pointer;
    left: calc(50%+70px);
    transform: translateX(-50%);

}

#yesres{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message{
    font-family: 'Great Vibes',cursive;
    font-size: 38px;
    color: #ff4d6d;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    margin: 10px;
    
}
#gif {
    width: 50%;
    max-width: 500px;
    margin: 15px auto;
    
}
